extends layout

block content
     form(role='form', action="/recipe",method="post", style='max-width: 300px;')
      label  Tittle
      .form-group
          input.form-control(type='text', name="title", placeholder='Enter title')
      .form-group
        label  Description
            textarea(name="description", cols="40", rows="5")
      .form-group
        label  Steps
          input.form-control(type='text', name="steps", placeholder='Add Steps')
      .form-group
        label  Servings 
        input.form-control(type='text', name="serving", placeholder='Servers how many?')
      .form-group
         label  Preparation Time
          input.form-control(type='text', name="preptime", placeholder='How long does it take') 
      .form-group
          label Cooked by
          input.form-control(type='text', name="author", placeholder='Write your name')  
      .form-group
          label Ingredients
          input.form-control(type='text', name="ingredients", placeholder='what goes in..?')      


      button.btn.btn-default(type='submit') Submit
      a(href='/recipe')
        button.btn.btn-primary(type="button") Cancel