extends layout

block content
 
     - for(var i = 0; i < recipe.length; i++) {
     p.recipe: a(href="/recipe/"+recipe[i].id) #{recipe[i].title}
     label  Description
      p= recipe[i].description
     label  How many can eat  
      p= recipe[i].serving
     label  How long it takes 
      p= recipe[i].preptime

     -}

       

      