extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    
    p please add some recipies
    a(href="/recipe/new") Press and add
    p checkout some recipies
    a(href="/recipe") Show all recipes

    P 
    a(href="/logout") Logout